<a href="https://colab.research.google.com/github/pastorale1/sample-streamlit/blob/master/for%E6%96%87.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
students = ['Aoki', 'sato', 'SUZUKI', 'tanaka', 'Yamaguti']

In [ ]:
new_students =[]
for student in students:
  new_students.append(student.upper())

new_students

['AOKI', 'SATO', 'SUZUKI', 'TANAKA', 'YAMAGUTI']

In [11]:
n = 6
b = [[1]]
for i in range(1,n):
  c = b[i-1]+[1]
  for j in range(1,i):
    c[j] = b[i-1][j-1] + b[i-1][j]
  b.append(c)
  print(b)

[[1], [1, 1]]
[[1], [1, 1], [1, 2, 1]]
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

In [19]:
def bino(n, k):
  if k==0:
    return 1
  elif n==k:
    return 1
  else:
    return bino(n-1, k-1) + bino(n-1, k) 

n = 7
[ bino(n, i) for i in range(n+1)]

[1, 7, 21, 35, 35, 21, 7, 1]